[Desktop Entry]
Name=gFifteen
Comment=Sliding tile puzzle game
Exec=gfifteen
Icon=gfifteen
Terminal=false
Type=Application
Categories=Game;LogicGame;GTK;
